<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>template Django - blog list</title>
    </head>
    <body>
        <h1>Blog list</h1>
        <div>
            {%for post in posts%}
            <a href="{% url 'blog:detail' post.id %}">{{post.title}}</a>
            <br>
            {% endfor %}
        </div>
        <br>
        <a href="{% url 'blog:create' %}">pincha aqui para crear un blog<a/>
    </body>
</html>